.parent{
    padding: 25px;
    background-color: rgb(93, 76, 53);
}

.child{
    border: 2px;
    background: wheat;
    padding: 20px;
    margin: 10px;
    font-size: 30px;
    /* display: inline; */
    /* width: 500px; */
}